body{
font-family:Arial,sans-seref;
margin; 0; 
Padding:0 
}
header{
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
nav{
    background: #444;
    padding: 10px;
}
nav a{
    color: white;
    margin-right: 15px;
    text-decoration: none;
}
main{
    padding: 15px;
}
article{
    background: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
}
footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}